/* ## Font family para ser usada no projeto:

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700

---

*/

body{
    font-size: 18px;
    background-color: hsl(185, 75%, 39%);
}

.principal{
    width: 340px;
    height: 320px;
    background-color: white;
    border-radius: 3%;
}

.person{
    padding: 1rem;
    margin: auto;
    height: 13rem;
    text-align: center;
}

.imagem{
    padding: .3rem;
}

.imagem img{
    border-radius: 100%;
}

.info{
    line-height: 2.5rem;
}

.gray{
    color: hsl(0, 0%, 59%);
    font-weight: 800;
}

p{
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}

footer{
    display: flex;
    height: 6.4rem;
    align-items:center;
    border-top: 3px solid hsl(0, 0%, 93%);
    justify-content: space-around;
}
footer .status{
    /* background-color:brown; */
}