/* ## Font family para ser usada no projeto:

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700

---

*/

body{
    font-size: 18px;
    background-color: hsl(185, 75%, 39%);
    background-image: url('/images/bg-pattern-top.svg'),url('/images/bg-pattern-bottom.svg');
    /* background-repeat: no-repeat; */
}
.move{
    position: absolute;
    width: 340px;
    height: 370px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.principal{
    background-image: url('/images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    position: relative;
    /* margin: auto; */
    width: 340px;
    height: 370px;
    background-color: white;
    border-radius: 3%;
}

.person{
    padding: 5rem;
    margin: auto;
    text-align: center;
}

.imagem{
    padding: .3rem;
}

.imagem img{
    border: 5px solid white;
    border-radius: 100%;
}

.info{
    line-height: 2rem;
}

.gray{
    color: hsl(0, 0%, 59%);
    font-weight: 700;
}

p{
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}
footer{
    display: flex;
    position: absolute;
    padding: 1.5rem;
    width: 100%;
    bottom: 0;
    align-items:center;
    justify-content: space-around;
    border-top: 4px solid hsl(0, 0%, 93%);
}
footer .status{
   text-align: center;
}
.status .results{
    color: black;
    font-weight: 700;
}

.attribution{
    color: white;
    position: fixed;
    bottom:0;
    min-width: 100%;
}
a{
    background-color: aliceblue;
}